<?xml version="1.0" encoding="UTF-8" ?>
<!-- we're not using logback, but netty is, and we want to stop it using debug updateLine! --> 
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.ning.http.client" level="INFO"/>
    <logger name="org.testcontainers" level="WARN"/>
    
</configuration>